@use './helpers/index' as *;
@use './helpers/custom' as *;

// "General" Styles
html {
    box-sizing: border-box;
    font-size: 100%;
    position: relative;

    // Responsive font size
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
}

#root {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: space-around;
    font-family: 'Pacifico', cursive;
}



*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem;
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}

h2 {
    font-size: $mod_1*$mod_1*$mod_1 *1rem;
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}

h3 {
    font-size: $mod_1*$mod_1 *1rem;
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}