@use '../helpers/index' as *;

.game {
  text-align: center;
}

.back-btn {
  width: 10rem;
}

.game-info {
  height: 20rem;
}
.status {
  margin: 1rem;
  color: $neutral;
}
.history {
  margin: 1rem;
  height: 20rem;
  width: 95%;

  @include respond-to("huge") {
    width: 68%;
  }

  @include respond-to("2k") {
    width: 55%;
  }

  ol {
    list-style: none;

    li {
      padding: 0.4rem 1rem;
    }

    button {
      width: 9rem;
    }
  }
}