@use '../helpers/index' as *;

.game {
  text-align: center;
}

.back-btn {
  width: 10rem;
}

.game-info {
  height: 20rem;
}

.status {
  margin: 1rem;
  color: $neutral;
}

.history {
  margin: 1rem;
  height: 20rem;
  width: 95%;

  @include respond-to("huge") {
    width: 68%;
  }

  @include respond-to("2k") {
    width: 55%;
  }

  ol {
    list-style: none;

    li {
      padding: 0.4rem 1rem;
    }

    button {
      width: 9rem;
    }
  }
}

.game-board {
  .board-row:nth-child(1) {
    button:nth-child(1) {
      border-right: 3px solid $secondary;
    }

    button:nth-child(2) {
      border-right: 3px solid $secondary;

    }

    button:nth-child(3) {}
  }

  .board-row:nth-child(2) {
    button:nth-child(1) {
      border-right: 3px solid $secondary;
      border-top: 3px solid $secondary;
      border-bottom: 3px solid $secondary;
    }

    button:nth-child(2) {
      border-right: 3px solid $secondary;
      border-top: 3px solid $secondary;
      border-bottom: 3px solid $secondary;

    }

    button:nth-child(3) {
      border-top: 3px solid $secondary;
      border-bottom: 3px solid $secondary;
    }
  }

  .board-row:nth-child(3) {
    button:nth-child(1) {
      border-right: 3px solid $secondary;
    }

    button:nth-child(2) {
      border-right: 3px solid $secondary;

    }

    button:nth-child(3) {}
  }
}