@use '../helpers/index' as *;

.menu {
    text-align: center;
    border: 2px solid $secondary;

    h2 {
        margin-bottom: 1rem;
    }

    .play {
        position: relative;
        // height: 10rem;
    }

    button {
        width: 10rem;
        margin-right: 1rem;
        border: none;
        outline: none;
        padding: 0.5rem;
        background-color: $primary;
        color: $white;
        border-radius: 0.5rem;
    }

    .play-btn {
        width: 10rem;
        margin: 3rem auto;
    }

    .active {
        background-color: $neutral;
        border-color: $neutral;
    }

    .alert {
        width: 15rem;
        padding: 0.4rem;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}