@use '../helpers/index' as *;

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.square {
  background: #fff;
  border: none;
  outline: none;
  float: left;
  font-size: 3rem;
  font-weight: bold;
  line-height: 7.5rem;
  height: 7.5rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 7.5rem;
}